* {
    box-sizing: border-box;
}





.panic { 
 
    border-color: red; 
    border-style: solid; 
  
    
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

