<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <link rel="stylesheet" type="text/css" href="static/index.css" />
    <title>Quiz</title>
</head>
<body style = "background-color :steelblue;">
    <header class="header">
            <p>Here is our navbar!!</p>

    </header>
    <nav class="topnav">
            <a href="#home">Home</a>
            <a href="#news">News</a>
            <a href="#post">Post</a>
            <a href="#pictures">Picture</a>
    </nav>
    <div align="center" class="row">
            <h1><u>Project Proposal</u></h1>
  
    </div>
    <img class="center" src="/static/panic.jpg" alt="" width="230" height="200" border="5" >
    <div align="center" class="row">
            <p>Oh crap,we've got to show something to the boss on Friday and nothing works!<p>
  
    </div>



</body>
</html>